# Export ignores (not included in dist ZIPs / Packagist downloads)
/tests           export-ignore
/src/assets      export-ignore
/node_modules    export-ignore
/.github         export-ignore
/.editorconfig   export-ignore
/.gitattributes  export-ignore
/.gitignore      export-ignore
/phpcs.xml.dist  export-ignore
/phpstan.neon.dist export-ignore
/webpack.config.js export-ignore
/package.json    export-ignore
